#container-left {
    width: 00px;
    height: auto;
    margin-top: 10px;
}

#container-left img{
    width: 60px;
    height: auto;
    margin-left: 50px;
    margin-top: 0px;
    color: none;
    cursor: pointer;
}

#top {
    margin-top: 80px;
}
#container-left img:hover{
    border-bottom: 3px solid rgba(170, 165, 165, 0.657);  
    transition-delay: 200ms ease
}

.thumbnails:focus {
    outline:0;
    border-bottom: 3px solid rgba(170, 165, 165, 0.657);  
}
.thumbnails {
    margin-top: 10px;
    cursor: pointer;
}

#container-left-change img{
    width: 60px;
    height: auto;
    margin-left: 50px;
}
#container {
    width: 200px;
    height: 120px;
}
#container img {
    width: 377px;
    height: auto;
    margin-top: 200px;
    margin-left: 200px;
}
#results {
    font-size: 15px;
    margin-top: 90px;
    margin-left: 40px;

}
#downArrow {
    width: 30px;
    height: 15;
    margin-left: 65px;
    display: block;
}

#downArrow:hover {
    background-color: grey;
    border-bottom: 2px solid #DD0000;
}


#topArrow {
    margin-top: 0px;
    margin-left: 65px;
    width: 30px;
}

#topArrow:hover {
    color: grey;
}