/* Left carousel elements */

.carousel {
  top: 80px !important;
 }

.carousel .slick-list {
  top: 5px;
  height: 530px;
  width: 130px;
 }

 .carousel .slick-slide {
  width: 80px;
  height: 50px;
  padding-bottom: 50px
}

 #wrapper {
  width: 130px;
  height: 100px;
 }

.carousel .slick-prev:before {
 color: black;
}

.carousel .slick-next:before {
 color: black;
}

.carousel .slick-prev, .carousel .slick-next {
   left: 50px;
   transform: translate(-50%, 0) rotate(90deg);
 }
.carousel .slick-next {
   top: 530px;
   margin-left: 10px;
 }
 .carousel .slick-prev {
   top: -25px;
   margin-left: 10px;
 }

  /* Carousel */

  #container-left {
    outline: 0 !important;
    position: relative;
   }

  #container-left img{
    width: 60px;
    height: auto;
    top: 0px;
    margin-left: 30px;
    margin-top:0px;
    color: none;
    cursor: pointer;
 }

 #container-left img:hover{
  border-bottom: 3px solid rgba(170, 165, 165, 0.657); 
 }
 
/* Main Image */

 .container img{
  position: absolute;
  width: 400px;
  height: auto;
  margin-top: 75px;
  margin-left: 200px;
 }

 .container img:hover {
  cursor: zoom-in;
}

/* Zoom Image */

.zoomed {
  position: absolute;
  margin-left: 200px !important;
  margin-top: 30px;
  top: 0px;
}

.zoomed:hover {
  cursor: zoom-in;
} 
/* Container Color Picker */

#container-color {
  position: fixed;
  display: inline-block;
  top:85%;
  right:0%;
  background-color: white;
  height: 400px;
  width: 118%;
  margin-right:-20%;
  } 

#red-picker img{
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 1px;
  margin-left: 80px;
  border: 3px double grey;
}
#red-picker img:hover {
  border: 3px double black;
}

#white-picker img{
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 1px;
  margin-right: -70px;
  border: 3px double grey;
}

#white-picker img:hover {
  border: 3px double black;
}

#black-picker img{
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 1px;
  margin-left: 40px;
  border: 3px double grey;
}

#black-picker img:hover {
  border: 3px double black;
}

#color {
  margin-right: -70px;
  margin-top: 8px;
}